{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
    Thanks - Office Supply Depot
{% endblock %}
{% block content %}
    <div>
        <div class="text-center">
            <br>
            <br>
            <h1 class="text-center my_title">
                Thanks for shopping with us
            </h1>
            <br>
            <br>
            <p>Your order number is: <b>{{ customer_order.id}}</b></p>
            <br>
            <p>
                We have received your order and will begin processing right away. You may check any previous orders through the customer page.
            </p>
        </div>
    </div>
{% endblock %}
