{% extends "admin/change_list.html" %}
{% block content_title %}
    <h1> Delivery Address Routing </h1>
{% endblock %}
{% block result_list %}
    <div class="results">
        <table>
            <thead>
                <tr>
                    <th> <div class="text"> <a href="#">Optimal Routes </a> </div> </th>
                </tr>
            </thead>
            <tbody>
                <tr class="{% cycle 'row1' 'row2' %}">
                    <td> {{ origin_warehouse }} </td>
                </tr>
                {% for row in optimal_routes %}
                <tr class="{% cycle 'row1' 'row2' %}">
                    <td> {{ row.ship_address }} </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
{% block pagination %}{% endblock %}