{% extends "base.html" %}
{% load staticfiles %}
{% block metadescription %}
  This is the shopping cart page. Proceed to review your items and place the order
{% endblock %}
{% block title %}
  Cart - Office Supply Depot
{% endblock %}
{% block content %}
  {% if not cart_items %}
    <div>
      <div class="text-center">
        <br>
        <h1 class="text-center my_title">
          Your shopping cart is empty
        </h1>
        <br>
        <p class="text-center">
          Please click<a href="{% url 'store:allProdCat' %}"> here</a> to continue shopping.
        </p>
      </div>
    </div>
  {% else %}
    <div>
      <div class="text-center">
        <br>
        <h1 class="text-center.my_tittle">
          Calculating Total
        </h1>
        <br>
      </div>
    </div>
    <div class="row mx-auto">
      <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center">
        <table class="table my_custom_table">
          <thead class="my_custom_thead">
            <tr>
              <th colspan="5">
                Your items
              </th>
            </tr>
          </thead>
          <tbody>
              {% for cart_item in cart_items %}
              <tr>
                <td>
                  <img src="{{cart_item.product.image.url}}" alt="" class="float-left rounded custom_image"></a>
                </td>
                <td class="text-left">
                  {{cart_item.product.name}}
                  <br>
                  SKU: {{cart_item.product.id}}
                  <br>
                  Unit Price: ${{cart_item.product.price}}
                  <br>
                  Qty: {{cart_item.quantity}} x ${{cart_item.product.price}}
                  <br>
                  Weight: {{cart_item.quantity}} x {{cart_item.product.weight}}lbs
                </td>
                <td>
                  ${{cart_item.sub_total}}
                </td>
              </tr>
              {% endfor %}
          </tbody>
          <tbody>
            <tr>
              <td class="text-left">
                Total Price: ${{ costTotal }}
                <br>
                Items total weight: ${{ weightTotal }}lbs
                <br>
                {% if deliveryCost1 == 0 and weightTotal <= 15 %}
                <br>
                Your items will be delivered by drone in same day.
                <br>
                {% elif deliveryCost2 == 0 and weightTotal > 15 %}
                <br>
                Your items will be delivered by truck in two days.
                {% else %}
              </br>
                You can choose delivery by truck or drone by paying $20.
              <li class="navbar-nav mr-auto">
                <div class="dropdown">
                  <button class = "btn dropdown" style="background-color: white; border-color:#dee4ed" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Delivery Options</button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item">Drone</a>
                      <a class="dropdown-item">Truck</a>
                    </div>
                </div>
              </li>
              <br>
              <label class="checkbox">
                You can choose surcharge by paying $25 and check right box. <input type="checkbox" value="">
              </label>
              {% endif %}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center">
        <table class="table my_custom_table">
          <thead class="my_custom_thead">
            <tr>
              <th colspan="5">
                Address
              </th>
            </tr>
          </thead>
            <tbody>
            <tr>
              <td class="text-left">
               <div class="row">
                <form  class="form-horizontal" method="post">
                  {% csrf_token %}
                  <table>
                    {{ form.as_table }}
                  </table>
                  <div class="text-left">
                    Your total is: <strong>${{ overallTotal }}</strong>
                        <button type="submit" class="btn btn-secondary" style="float: right;">Purchase</button>
                  </div>
                </form>
               </div>
              </td>
            </tr>
          </tbody>

        </table>
      </div>
    </div>
    <br>
    {% endif %}
{% endblock %}
